@charset "UTF-8";
/* base */
@font-face {
  font-family: "policeH";
  src: url(../Font/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "policeP";
  src: url(../Font/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "policeH3";
  src: url(../Font/Shrikhand/Shrikhand-Regular.ttf);
}
.BtnOpacity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.BtnOpacity a {
  font-family: "policeH", Arial, Helvetica, sans-serif;
}

.BtnOpacity__btnP {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at top left, #ff79da, #9356dc);
  box-shadow: 0px 6px 10px 3px #d3d3d3;
  opacity: 1;
  color: white;
  border: 0;
  border-radius: 30px;
  width: 55%;
  min-width: 242px;
  height: 60px;
  margin: 45px 0px 70px 0px;
  position: absolute;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
  max-width: 300px;
}

.BtnOpacity__btnS {
  opacity: 0;
  z-index: 1;
  transition: opacity 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at top left, #f999de, #ad83e1);
  box-shadow: 0px 6px 10px 3px #9b9a9a;
  color: white;
  border: 0;
  border-radius: 30px;
  width: 55%;
  min-width: 242px;
  height: 60px;
  margin: 30px 0px 60px 0px;
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  max-width: 300px;
}

.BtnOpacity__btnS:hover {
  opacity: 1;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  opacity: 0;
  position: fixed;
  z-index: -1;
  -webkit-animation: 3s loader;
          animation: 3s loader;
}
.loading img {
  margin: 20% 20px 20px 20px;
  width: 20%;
}

.arc {
  display: flex;
  background: radial-gradient(circle at top, #ff79da 34%, #9356dc);
  -webkit-animation: logoAnime 2s ease-in-out infinite;
          animation: logoAnime 2s ease-in-out infinite;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid rgb(147, 86, 220);
}

.arc:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 50px;
  border-top: 10px solid #ff79da;
  -webkit-animation: logoAnime 1s ease-in-out infinite;
          animation: logoAnime 1s ease-in-out infinite;
}

@-webkit-keyframes logoAnime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes logoAnime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  78% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  78% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.footer {
  background-color: rgb(54, 53, 53);
  color: white;
}
.footer a {
  color: white;
  font-size: 17px;
  font-family: "policeH", Arial, Helvetica, sans-serif;
}
.footer__logoBlanc {
  font-family: "policeH3", Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 20px 20px 0 20px;
  font-weight: normal;
}
.footer__menu {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
}
.footer__menu__lien {
  font-family: "policeH", Arial, Helvetica, sans-serif;
}
.footer__menu__lien a {
  padding-left: 10px;
}
.footer__menu li {
  padding-bottom: 5px;
}

.fa-handshake-angle {
  font-size: 9px;
  color: white;
}

body {
  font-family: "policeP", Arial, Helvetica, sans-serif;
  color: #000000;
  max-width: 1700px;
  margin: auto;
}

h1 {
  font-family: "policeH3", Arial, Helvetica, sans-serif;
  margin-left: 5%;
}

h3 {
  font-family: "policeH", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* headerAcceuil */
.header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header1__logo {
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: center;
}
.header1__logo a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  text-decoration: none;
  position: absolute;
}
.header1__logo a i {
  font-size: 20px;
  color: #000000;
}
.header1__bkgnd {
  width: 100%;
  height: 400px;
}
.header1__bkgnd img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#Menu {
  background-color: white;
  width: 100%;
  z-index: 1;
  position: relative;
  border-radius: 50px;
  margin-top: -200px;
}

.NomResto {
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NomResto__icone {
  width: 33px;
  padding-right: 3px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.NomResto__icone:hover .fa-solid {
  font-size: 31px;
  z-index: 1;
}
.NomResto__icone .fa-regular {
  position: absolute;
  font-size: 30px;
}
.NomResto__icone .fa-solid {
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: font-size 100ms;
  font-size: 0px;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-200px);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-200px);
  }
}
#plats {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

#desserts {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

#Menu__carte h2 {
  margin-bottom: 5px;
  margin-left: 5%;
  text-transform: uppercase;
  font-size: 20px;
}

.h2__bord {
  width: 50px;
  border: 2px solid #99E2D0;
  margin-left: 5%;
  margin-bottom: 10px;
}

.partie {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  position: relative;
  top: 200px;
  -webkit-animation: 1.5s apparition;
          animation: 1.5s apparition;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.partie__choix {
  display: flex;
  align-items: center;
  width: 90%;
  height: 85px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 0px 6px 10px 3px #d3d3d3;
  margin: 10px;
}
.partie__choix__caché {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  height: 85px;
  background-color: #99E2D0;
  border-radius: 0 25px 25px 0;
  transition: width;
  opacity: 0;
  transition: all 1s;
}
.partie__choix__caché i {
  font-size: 40px;
  color: white;
}
.partie__choix__vue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: width;
  transition: all 1s;
}
.partie__choix__vue__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  transition: width;
  transition: all 1s;
  margin: 0 0 0 25px;
}
.partie__choix__vue__txt h3,
.partie__choix__vue__txt p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px;
}
.partie__choix__vue__prix {
  display: flex;
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.partie__choix__vue__prix p {
  font-family: "policeH", Arial, Helvetica, sans-serif;
}
.partie__choix:hover .partie__choix__vue {
  width: calc(100% - 80px);
}
.partie__choix:hover .partie__choix__vue__txt {
  width: 65%;
}
.partie__choix:hover .partie__choix__caché {
  width: 80px;
  opacity: 1;
}
.partie__choix:hover .partie__choix__caché i {
  -webkit-animation-name: tourneCoche;
          animation-name: tourneCoche;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes tourneCoche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes tourneCoche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=menu.css.map */