@font-face {
  font-family: "policeH";
  src: url(../Font/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "policeP";
  src: url(../Font/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "policeH3";
  src: url(../Font/Shrikhand/Shrikhand-Regular.ttf);
}
