/* base */
@import "_utils/variables.scss";
@import "_utils/coeur.scss";
@import "_base/police.scss";
@import "_composants/bouton.scss";
@import "_layouts/loadingSpinner.scss";
@import "_layouts/footer.scss";

// .loading {
//   height:0;
//   & img{height:0;}
// }

body {
  font-family: "policeP", Arial, Helvetica, sans-serif;
  color: #000000;
  max-width: 1700px;
  margin: auto;
}

h1 {
  font-family: "policeH3", Arial, Helvetica, sans-serif;
  margin-left: 5%;
}

h3 {
  font-family: "policeH", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

/* headerAcceuil */
.header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__logo {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: center;
    & a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 90%;
      text-decoration: none;
      position: absolute;
      & i {
        font-size: 20px;
        color: #000000;
      }
    }
  }

  &__bkgnd {
    width: 100%;
    height: 400px;
  }
  &__bkgnd img {
    object-fit: cover;
    width: 100%;
  }
}

#Menu {
  background-color: white;
  width: 100%;
  z-index: 1;
  position: relative;
  border-radius: 50px;
  margin-top: -240px;
  @media screen and (min-width: 390px) {
    margin-top: -180px;
  }
}
.NomResto {
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__icone {
    @include coeur;
    margin-right: 30px;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-200px);
  }
}

#plats {
  animation-delay: 2.25s;
}
#desserts {
  animation-delay: 2.5s;
}

#Menu__carte h2 {
  margin-bottom: 5px;
  margin-left: 5%;
  text-transform: uppercase;
  font-size: 20px;
}
.h2__bord {
  width: 50px;
  border: 2px solid $tertiaire;
  margin-left: 5%;
  margin-bottom: 10px;
}

.partie {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  position: relative;
  top: 200px;

  animation: 1.5s apparition;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;

  &__choix {
    display: flex;

    align-items: center;
    width: 90%;
    height: 85px;
    background-color: #f6f6f6;
    border-radius: 25px;
    box-shadow: 0px 6px 10px 3px #d3d3d3;
    margin: 10px;

    &__caché {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0px;
      height: 85px;
      background-color: $tertiaire;
      border-radius: 0 25px 25px 0;
      transition: width;
      opacity: 0;
      transition: all 1s;
      & i {
        font-size: 40px;
        color: white;
      }
    }
    &__vue {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: width;
      transition: all 1s;
      &__txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 100%;
        transition: width;
        transition: all 1s;
        margin: 0 0 0 25px;
        & h3,
        p {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 5px;
        }
      }
      &__prix {
        display: flex;
        width: 20%;
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        & p {
          font-family: "policeH", Arial, Helvetica, sans-serif;
        }
      }
    }
    &:hover &__vue {
      width: calc(100% - 80px);
    }
    &:hover &__vue__txt {
      width: 65%;
    }
    &:hover &__caché {
      width: 80px;
      opacity: 1;
      i {
        animation-name: tourneCoche;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }
  }
}

@keyframes tourneCoche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
