.BtnOpacity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  & a {
    font-family: "policeH", Arial, Helvetica, sans-serif;
  }

  &__btnS {
    transition: all 250ms;

    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(ellipse at top left, $grad2, $grad1);
    box-shadow: 0px 6px 10px 3px #d3d3d3;

    color: white;

    border: 0;
    border-radius: 30px;
    width: 55%;
    min-width: 242px;
    height: 60px;
    margin: 30px 0px 60px 0px;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    max-width: 300px;

    &:hover {
      background: radial-gradient(ellipse at top left, #f999de, #ad83e1);
      box-shadow: 0px 6px 10px 3px #9b9a9a;
    }
  }
}
