/* base */
@import "footer.scss";
@import "bouton.scss";

@font-face {
  font-family: "policeH";
  src: url(Font/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: "policeP";
  src: url(Font/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: "policeH3";
  src: url(Font/Shrikhand/Shrikhand-Regular.ttf);
  /* font-size: 1.5em; */
}
body {
  font-family: "policeP", Arial, Helvetica, sans-serif;
  color: #000000;
  max-width: 1700px;
  margin: auto;
}
h1 {
  padding-left: 20px;
  width: 100%;
}
h3 {
  font-family: "policeH3", Arial, Helvetica, sans-serif;
}
h1,
h2 {
  font-family: "policeH", Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}

// loading spinner
.loadingSpinner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background:#ff79da;
  opacity: 0;
  position: fixed;
  z-index: -1;

  animation: 2s loader;
}
.logoAnime {
}
@keyframes logoAnime {
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* headerAcceuil */
.header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__logo {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: center;
  }

  &__img {
    object-fit: cover;
  }
}

.header1__gris {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__form {
    background: linear-gradient(to bottom, #cdcdcd 1%, #eaeaea 9%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icone {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
    }
    &__icone i {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }
  }
}

.header1__gris__form__label .entreeVille {
  border: 0;
  background-color: #eaeaea;
  font-size: 20px;
  font-family: policeH, Arial, Helvetica, sans-serif;
}
.header1__gris__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  /* padding-bottom: 20px; */
  width: 100%;

  &__h1 {
    width: 60%;
    text-align: center;
  }
  &__p {
    width: 80%;
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: rgb(66, 65, 65);
    font-family: "policeP", Arial, Helvetica, sans-serif;
  }
}

// .header1__gris__BtnOpacity {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #f6f6f6;
//   & a {
//     font-family: "policeH", Arial, Helvetica, sans-serif;
//   }
// }

// .header1__gris__BtnOpacity__btnP {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: radial-gradient(ellipse at top left, #ff79da, #9356dc);
//   box-shadow: 0px 6px 10px 3px #d3d3d3;
//   opacity: 1;
//   transition: opacity 250ms;
//   color: white;
//   border: 0;
//   border-radius: 30px;
//   width: 55%;
//   min-width: 242px;
//   height: 60px;
//   margin: 30px 0px 60px 0px;
//   position: absolute;
//   list-style-type: none;
//   text-decoration: none;
//   color: white;
//   font-size: 20px;
//   @media screen and (min-width: 767px) {
//     max-width: 300px;
//   }
// }

// .header1__gris__BtnOpacity__btnS {
//   opacity: 0;
//   z-index: 1;
//   transition: opacity 250ms;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: radial-gradient(ellipse at top left, #f999de, #ad83e1);
//   box-shadow: 0px 6px 10px 3px #9b9a9a;
//   color: white;
//   border: 0;
//   border-radius: 30px;
//   width: 55%;
//   min-width: 242px;
//   height: 60px;
//   margin: 30px 0px 60px 0px;
//   list-style-type: none;
//   text-decoration: none;
//   color: white;
//   font-size: 20px;
//   @media screen and (min-width: 767px) {
//     max-width: 300px;
//   }
// }

// .header1__gris__BtnOpacity__btnS:hover {
//   opacity: 1;
// }

/* section Fonctionnement */

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  & a {
    font-family: "policeH", Arial, Helvetica, sans-serif;
  }
}

.fonctionnement__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bloc__icones {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    width: 80%;
    max-width: 450px;
    height: 100px;
    margin-left: -30px;
    border-style: none;
    position: absolute;
    z-index: 1;

    & p {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: #9356dc;
      color: white;
      font-size: 15px;
      align-items: center;
      margin: 0;
      position: sticky;
      margin-right: 15px;
      z-index: 1;
    }
  }
  @media screen and (min-width: 767px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__bloc__icones {
      width: auto;
      position: relative;
    }
  }
}

.fonctionnement__list__bloc {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  max-width: 450px;
  height: 100px;
  margin: 30px;
  background-color: #f6f6f6;

  border-radius: 25px;
  box-shadow: 0px 6px 10px 3px #d3d3d3;
  @media screen and (min-width: 767px) {
    flex-direction: column;
  }

  &__lien {
    font-size: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    margin-left: 22%;
    align-items: center;
    @media screen and (min-width: 767px) {
      justify-content: center;
      align-items: center;
      margin: 0px;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}
.fonctionnement__list__bloc__icones:hover {
  color: #9356dc;
}

/* section restaurant */
.restaurant {
  background-color: #f6f6f6;
  &__titre {
    padding-top: 30px;
  }
}
.restaurant__gris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 80px;
  @media screen and (min-width: 767px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.carte {
  display: flex;
  flex-direction: column;
  color: #000000;
  width: 85%;
  height: 400px;
  text-decoration: none;
  border-radius: 25px;
  margin: 10px;
  @media screen and (min-width: 767px) {
    width: 40%;
  }
  &__img {
    display: flex;
    justify-content: end;
    height: 70%;

    &__new {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-right: 15px;
      width: 100px;
      height: 40px;
      background-color: #98e2cf;
      color: #008664;
      border-radius: 5px;
      font-weight: 800;
    }
  }
  &__img img {
    width: 100%;
    height: 100%;
    // max-height: 400px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
  }
  &__bas {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 25px 25px;
    height: 100px;
    padding-right: 15px;
    box-shadow: 0px 6px 10px 3px #d3d3d3;
    &__icone {
      width: 33px;
      padding-right: 3px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover .fa-solid {
        font-size: 31px;
        z-index: 1;
      }
      .fa-regular {
        position: absolute;
        font-size: 30px;
      }
      .fa-solid {
        background-image: linear-gradient(#9356dc, #ff79da);
        background-clip: text;
        color: transparent;
        transition: font-size 100ms;
        font-size: 0px;
      }
    }
    &__txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 80%;
      // height: 70px;
      padding-left: 15px;
      h2 {
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 22px;
      }
    }
  }
}

// @media screen and (min-width: 767px) {
//   .header1__gris__BtnOpacity__btnP {
//     max-width: 300px;
//   }
//   .header1__gris__BtnOpacity__btnS {
//     max-width: 300px;
//   }
//   .fonctionnement__list {

//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
//     &__bloc{
//       flex-direction: column;
//       &__icones{
//         width:auto;
//         position:relative;
//       }
//       &__lien{
//         justify-content: center;
//         margin:0;
//         padding-bottom: 10px;
//       }
//     }
//   }
//   .restaurant__gris{
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-around;

//     &__carte{
//       width:40%;
//     }
// }
// }
