/* base */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@font-face {
  font-family: "policeP";
  src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "policeH";
  src: url(Roboto/Roboto-Medium.ttf);
  /* font-size: 1.5em; */
}
body {
  font-family: policeP, Arial, Helvetica, sans-serif;
}

h1,
a {
  font-family: policeH, Arial, Helvetica, sans-serif;
}
p {
  font-family: policeP, Arial, Helvetica, sans-serif;
  font-size: 27px;
  color: gray;
}

/* headerAcceuil */
.header1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header1__logo {
  width: 100%;
  margin: 15px;
  display: flex;
  justify-content: center;
}
.header1__logo__img {
  object-fit: cover;
}
.header1__gris {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.header1__gris__form {
  /* background-color: #eaeaea; */
  background: linear-gradient(to bottom, #cdcdcd 1%, #eaeaea 9%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header1__gris__form__icone {
  display: flex;
  justify-content: center;
  align-items: center;

  /* opacity: 1; */

  /* z-index: 2; */
  height: 60px;
  width: 60px;
}
.header1__gris__form__icone i {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}
.header1__gris__form__label .entreeVille {
  border: 0;
  background-color: #eaeaea;
  font-size: 20px;
  font-family: policeH, Arial, Helvetica, sans-serif;
}
.header1__gris__txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f6f6f6;
  /* padding-bottom: 20px; */
  width: 100%;
}
.header1__gris__txt__h1 {
  width: 60%;
  text-align: center;
}
.header1__gris__txt__p {
  width: 80%;
  text-align: center;
  margin-top: 0;
}
.header1__gris__BtnOpacity {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
.header1__gris__BtnOpacity__btnP {
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(ellipse at top left, #ff79da, #9356dc);

  box-shadow: 0px 6px 10px 3px #d3d3d3;
  opacity: 1;
  transition: opacity 250ms;
  color: white;
  border: 0; 
  border-radius: 30px;
  width: 55%;
  min-width: 242px;
  height: 60px;
  margin: 30px 0px 60px 0px;
  position: absolute;

  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header1__gris__BtnOpacity__btnS {
  opacity: 0;
  z-index: 1;
  transition: opacity 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at top left, #f999de, #ad83e1);
  box-shadow: 0px 6px 10px 3px #9b9a9a;
  color: white;
  border: 0;
  border-radius: 30px;
  width: 55%;
  min-width: 242px;
  height: 60px;
  margin: 30px 0px 60px 0px;
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* .header1__gris__BtnOpacity__btnP:hover{
    opacity:0;

  } */
.header1__gris__BtnOpacity__btnS:hover {
  opacity: 1;
}

/* section Fonctionnement */

.fonctionnement{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px; 
}
.fonctionnement__titre{
  /* padding-left: 20px; */
}
.fonctionnement__list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonctionnement__list__bloc__icones{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  width:80%;
  max-width: 450px;
  height:100px;
  margin-left: -30px;
  border-style: none; 
  
  position:absolute; 
  z-index: 1;
  
}

.fonctionnement__list__bloc__icones:hover{
  color:#9356dc;
}
.fonctionnement__list__bloc__icones p{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height:30px;
  background-color: #9356dc;
  color:white;
  font-size: 15px;
  align-items: center;
  margin:0;
  position:sticky;

 margin-right: 15px; 
  z-index: 1;
}

.fonctionnement__list__bloc{
  display:flex;
  justify-content: center;
  align-items: center;
 
  width:80%;
  max-width: 450px;
  height:100px;
  margin: 30px;
  background-color: #f6f6f6;
  
  border-radius: 25px;
  box-shadow: 0px 6px 10px 3px #d3d3d3;
}
.fonctionnement__list__bloc__lien{
  font-size: 20px;
}

@media screen and (min-width: 767px) {
  .header1__gris__BtnOpacity__btnP {
    max-width: 300px;
  }

}
